.nav-button {
    background-color: #ff0099;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
  }
  
  .nav-button:hover {
    background-color: white;
    color: #ff0099;
    border: 2px solid #ff0099;
  }
  